<div class="login-container">
  <mat-card class="login-card">
    <h2>Iniciar Sesión</h2>

    <form [formGroup]="form" (ngSubmit)="login()">

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" />
        <mat-error *ngIf="form.controls['email'].invalid && form.controls['email'].touched">
          Ingresa un correo válido
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" formControlName="password" />
        <mat-error *ngIf="form.controls['password'].invalid && form.controls['password'].touched">
          La contraseña es obligatoria
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" class="full-width" [disabled]="loading">
        {{ loading ? 'Ingresando...' : 'Ingresar' }}
      </button>

      <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>
    </form>
  </mat-card>
</div>
